In [2]:
print('Hello World')

Hello World

This command prints Hello world

# Variables in Python
- A container for storing data values. It can be a string or an integer assigned to a variable.
- This is effective with the use of = sign which means assignment in python.
- When you use a variable, you do not have to also assign its data type.
- You can overwrite an existing variable.
- Variables are case sensitive, if lowercase y is assigned to something and uppercase Y is also assigned to the same thing, those two things are not the same.
- Multiple values can be assigned to multiple variables.
- Multiple variables can be assigned to a single value.
- Variables can be assigned to lists, dictionaries, tuples, and sets.

In [3]:
x = 22

print(x)

22

In [4]:
type(x)

int

In [5]:
y = 'Mint Chocolate Chip'

print(y)

Mint Chocolate Chip

In [6]:
type(y)

str

In [7]:
y = 'Chocolate'

y = 'Mint Chocolate Chip'

print(y)

Mint Chocolate Chip

In [8]:
y = 'Chocolate'

Y = 'Mint Chocolate Chip'

print(Y)

Mint Chocolate Chip

In [9]:
x,y,z = 'Chocolate', 'Vanilla', 'Rocky Road'

print(x)
print(y)
print(z)

Chocolate
Vanilla
Rocky Road

In [10]:
x = y = z = 'Root Beer Float'

print(x)
print(y)
print(z)

Root Beer Float
Root Beer Float
Root Beer Float

# List
- This cell contains a list. 
- A list is denoted in square brackets.
- They can also be contained in a variable. In this example, the variable is ice-cream. Then we contained the variable ice_cream in another variable x,y,z.

In [11]:
ice_cream = ['Chocolate', 'Vanilla', 'Rocky Road']

x,y,z = ice_cream

print(x)
print(y)
print(z)

Chocolate
Vanilla
Rocky Road

In [23]:
ice_cream.append('Butter Pecan') #insert a new item at the back

ice_cream[2] = 'Strawberry' #Change the item in a list

ice_cream

['Chocolate',
 'Vanilla',
 'Strawberry',
 'Strawberry',
 'Butter Pecan',
 'Butter Pecan',
 'Butter Pecan']

In [31]:
#You can also have a nested list
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', ['indigo', 'violet']]

#To access the item in a list
rainbow[0] #Lists use zero-based indexing so it would take 0 as the first item

rainbow[:5] #this is used to access a range in the list with 0 being the default

rainbow[2:4] #you can also input a starting range yourself

rainbow[5][1] #You can also access a list within a list

'violet'

# Tuples
- Tuples are immutable which means it can not be modified or changed after it is created

In [33]:
scoops = (1,2,3,2,1) #Tuples are created with parentheses

In [34]:
scoops[0] #You can access tuples with indexing
# Tuples would be used when data is not going to be changed e.g city name, country, or location

1

# Sets
- No duplicate elements
- Values ina set can not be accessed using index because it doesn't have an index because it is unordered.
- Items can be accessed using the for loop

In [39]:
daily_pints = {1,2,3}

daily_pints_log = {2,8,2,3,1,8,67,67,12,2,3,4,5,5,6,7,8}
wifes_daily_pints_log = {1, 2, 3,4, 31, 3, 6, 5, 2, 1, 87, 54, 12}

In [36]:
print(daily_pints_log)

{1, 2, 67, 3, 4, 5, 6, 8, 7, 12}

In [40]:
#Compare the unique values of daily_pints_log and wifes_daily_pints_log
print(daily_pints_log | wifes_daily_pints_log) 
# The pipe (|) symbol in the print statement would help combine the unique values in the two variables

{1, 2, 67, 3, 4, 5, 6, 8, 7, 12, 87, 31, 54}

In [41]:
print(daily_pints_log & wifes_daily_pints_log)
#The ampersand (&) symbol in the print statement would help bring out only the unique values that *matches*

{1, 2, 3, 4, 5, 6, 12}

In [44]:
print(daily_pints_log - wifes_daily_pints_log)
#The minus(-) symbol in the print statement would bring out the unique values that *do not match*
# You would see that the values that do not match are not complete.This is because the position where each set variable is matters
# Tis means the wifes set is being subtracted from the the dailys set
# Let's reverse it
print(wifes_daily_pints_log - daily_pints_log)
# The caret (^) sign would print the values that do not match in both sets
print(daily_pints_log ^ wifes_daily_pints_log)

{8, 67, 7}
{31, 54, 87}
{67, 8, 7, 54, 87, 31}

# Dictionaries
- A dictionary has a key that indicates what that value is attributed too

In [45]:
cream = {'name': 'Alex', 'weekly intake': 5, 'favorite ice creams': ['MCC', 'Chocolate',]}

In [49]:
# To show only the values in a dictionary
cream.values()

# To show only the keys in a dictionary
cream.keys()

# To show the items (Key value pairs) in a dictionary
cream.items()

dict_items([('name', 'Alex'), ('weekly intake', 5), ('favorite ice creams', ['MCC', 'Chocolate'])])

In [50]:
# To access a dictionary, you have to call it by the key
#'name' is the name of a key in the dictionary. This would print Alex as it is the value in the key
cream['name']

'Alex'

In [52]:
# You can also update a dictionary
cream['name'] = 'Mariam'

print(cream)

{'name': 'Mariam', 'weekly intake': 5, 'favorite ice creams': ['MCC', 'Chocolate']}

In [55]:
# You can also update all the values in a dictionary at once
# This would only add to the dictionary and not subtract from it
cream.update({'name': 'Mariam', 'weekly intake': 5, 'favorite ice creams': ['MCC', 'Chocolate'], 'weight': 300})

# Naming your variables
There are different ways people name their variables.
- Camel Case
- Pascal Case
- Snake Case (The Best)
Things that can't be used in your varialble names
Numbers (especially at the beginning of the variable name because it would give an error), -, Commas, Space, period, /, = and this is because they won't work.

In [13]:
#Camel Case example
#First word would be in lowercase and the beginning of the remainig words would be in uppercase
testVariableCase = 'Vanilla Swirl'

In [14]:
#Pascal Case example
#First word would be in uppercase
TestVariableCase = 'Vanilla Swirl'

In [15]:
#Snake Case example
#No capital letters used and seperate everything with an underscore
test_variable_case = 'Vanilla Swirl'

# Operators with variables.
- You can use the + sign in a variable e.g you can add a string with a string and an integer with an integerbut you can't add a string with an integer. 
- addition sign (+) means concatenate

In [16]:
x = 'Ice cream is my favorite' + '.'

print(x)

Ice cream is my favorite.

In [17]:
y = 3 + 2

print(y)

5

In [18]:
# You can also add multiple variables within a print statement.
x = 'Ice cream '
y = 'is '
z = 'my favorite'

print(x+y+z)

Ice cream is my favorite

In [19]:
x = 3
y = 4
z = 9

print(x+y+z)

16

In [20]:
# Combining a string and an integer in a print statement using the comma since we can't use the concatenate function (+)
x = 'Ice cream'
y = 4

print(x,y)

Ice cream 4

# Comparison operators
- They are used to perform operations on variables and values
- They would be used to compare to values or variables to see if they are the same or different
- Comprison operators result in true or false

In [ ]:
# == Equal
# != Not Equal
# > Greater Than
# < Less Than
# >= Greater Than or Equal to 
# <= Less than or Equal to

In [1]:
#Equal sign
10 == 50

False

In [7]:
#Values (String and Integers)
10 < 1

False

In [6]:
'Vanilla' == 'Vanilla'

True

In [9]:
#Variables
x = 'Vanilla'
y = 'Chocolate'

x==y

False

# Logical Operators
- They are often combined with comparison operators
- AND OR NOT
- AND = Both statements are true
- OR = only one of the statements is true
- NOT = This reverses the result so if it is supposed to be true it would return false

In [12]:
(70 > 50) and (50 > 10)

True

In [13]:
(10 > 50) or (50 > 10)

True

In [14]:
# This can be done with strings too
# It looks at the position of the first letter of the alphabet
# Since V is 21st and C is 3, V is greater than C
('Vanilla' > 'Chocolate') or (50 > 10)

True

In [15]:
# NOT opposite
not(50 > 10)

False

# Membership Operators
- This is used to check whether the value or a string is within another value or string or sequence.
- IN and NOT In
- IN = Returns TRUE if the specified value is present in the sequence
- NOT IN = It would also return *TRUE* if the specified value is *not in* the sequence or object
- It can be used with strings, lists

In [16]:
#strings
ice_cream = 'I love Chocolate ice cream'

'love' in ice_cream

True

In [18]:
#Lists
scoops = [1, 2, 3, 4, 5]
6 not in scoops

True

In [19]:
# Can also be done with variables
wanted_scoops = 9

wanted_scoops in scoops

False

# IF, ELIF, and ELSE statements
- IF = If the condition in the if statement is met a body of code would be ran.
- ELIF = If the condition in the if statement is not met, it would go to the elif condition. If the elif statement is met, the body of code for the elif statement would be ran.
- ELSE = If the elif statement is not met, the body of code of the else statement would be ran.The else statement is basically if everything does not work, then run this body of code
- You can have any amount of elif statement but you can only have one if statement and else statement
-

In [20]:
if 25 > 10: #condition
    print('it worked!') #body of code i.e what would happen if it the condition is met

it worked

In [21]:
if 25 < 10: #Since this statement is not true it would not provide an output
    print('it worked!')

In [23]:
# Add an else statement
if 25 < 10: 
    print('it worked!')
else: #This else statement does not have a condition so it would just execute the body of code
    print('it did not work...')

it did not work...

In [24]:
if 25 > 10: #This statement is now true so it would not read the else statement
    print('it worked!')
else: 
    print('it did not work...')

it worked!

In [26]:
# If you want to try different conditions, try the elif statement
# The elif condition that is met first is what would be returned
if 25 < 10: 
    print('it worked!')
elif 25 < 20: 
    print('elif worked!')
elif 25 < 21: 
    print('elif 2 worked!')
elif 25 < 40: 
    print('elif 3 worked!')
elif 25 < 50: 
    print('elif 4 worked!')
else: 
    print('it did not work...')

elif 3 worked!

In [29]:
# Logical operators and Membership operatorscan also be used in if statements
if 25 < 10 or (1 in [3, 1, 5, 6]): 
    print('it worked!')
elif 25 < 20: 
    print('elif worked!')
elif 25 < 21: 
    print('elif 2 worked!')
elif 25 < 40: 
    print('elif 3 worked!')
elif 25 < 50: 
    print('elif 4 worked!')
else: 
    print('it did not work...')

it worked!

In [30]:
# If statements on one line
print('it worked!') if 10 > 30 else print('It did not work...')

It did not work...

In [33]:
# Nested if statements
if (25 < 10) or (1 < 3): 
    print('it worked!')
    if 10 > 5:
        print('This nested if statement worked')
elif 25 < 20: 
    print('elif worked!')
elif 25 < 21: 
    print('elif 2 worked!')
elif 25 < 40: 
    print('elif 3 worked!')
elif 25 < 50: 
    print('elif 4 worked!')
else: 
    print('it did not work...')

it worked!
This nested if statement worked

# For Loops
- A for loop is used to iterate over a sequence (i.e a list, tuple, array, string, or dictionary)
- The for loop is going to start by looking at the first item in the sequence, then it would ask if it is the last element in the list, if it is not, it would go to the body of the for loop, then it would ask again it it is the last element reached until it reaches the last element
- Once it reaches the last element, we would exit the loop and the for loop would be over

In [37]:
integers = [1, 2, 3, 4, 5] #This is the sequence we would be using

In [38]:
#Number here is a temporary variable for this for loop. As the loop is iterating it is going to be a temporaray variable
for number in integers: # This can be any sequence and it is what we are iterating through
    print(number)# body of code to be executed when we iterate through our list
# It would print the temporaray variable number i.e all the numbers in integers

1
2
3
4
5

In [39]:
for number in integers:
    print('yep!')
# This shows the numbers in the list are not being used just the count of the numbers

yep!
yep!
yep!
yep!
yep!

In [ ]:
integers = [1, 2, 3, 4, 5]

In [40]:
for marz in integers: #The temp variable name does not have to be number it can be any variable name
    print(marz + marz)
# The for loop would excute the body of code that is given. In this case, it is the addition of each variable to itself

2
4
6
8
10

In [41]:
# For a dictionary sequence, it is going to be different
ice_cream_dict = {'name': 'Mariam', 'weekly intake': 5, 'favorite ice creams': ['MCC', 'Chocolate']}

In [42]:
# For a dictionary, you have to specify the item or key or value you want to iterate
# To pull only the key, you type .key()
for cream in ice_cream_dict.values():
    print(cream)

Mariam
5
['MCC', 'Chocolate']

In [44]:
# You can also pull the key and the value
# In this instance you have to use 2 temporary variables and they should be seperated by a comma
for key, value in ice_cream_dict.items():
    print(key, '->', value)

name -> Mariam
weekly intake -> 5
favorite ice creams -> ['MCC', 'Chocolate']

In [45]:
# Nested For loops
flavors = ['Vanilla', 'Chocolate', 'Cookie Dough']
toppings = ['Hot Fudge', 'Oreos', 'Marshmellows']

In [46]:
for one in flavors:
    for two in toppings:
        print(one,'topped with' , two)

Vanilla topped with Hot Fudge
Vanilla topped with Oreos
Vanilla topped with Marshmellows
Chocolate topped with Hot Fudge
Chocolate topped with Oreos
Chocolate topped with Marshmellows
Cookie Dough topped with Hot Fudge
Cookie Dough topped with Oreos
Cookie Dough topped with Marshmellows

# While Loops
- The while loop is used to iterate a block of code as long as the test condition is met.
- The difference between a for and while loop is that a for loop is going to iterate over the whole sequence regardless of the condition BUT a while loop is only going to iterate over that sequence unless a specific condition is met if the the condition is not met, the code is going to stop and it is not going to iterate over that sequence

In [47]:
number = 0 #starter variable

while number < 5: #condition to be met
    print(number) #body of code to be exeuted
    number = number + 1 #counter

0
1
2
3
4

In [48]:
# Break statement
number = 0 

while number < 5: 
    print(number) 
    if number == 3: #This would stop when the counter adds to 0 to make it 3. It is executed with an if statement
        break
    number = number + 1

0
1
2
3

In [49]:
# else statement
number = 0 

while number < 5: 
    print(number) 
    if number == 6:
        break
    number = number + 1
else: # when the number is no longer less than 5
    print('No longer < 5')

0
1
2
3
4
No longer < 5

In [ ]:
# Continue statement: If this is triggered, it rejects all of the statements in the current iteration of the loop and it would go to the next iteration.
# This means it is not going to continue with the iterations below it (in this case the counter and else statement), but would go back to the beginning of the while loop
number = 0 

while number < 5: 
    print(number) 
    if number == 3:
        continue
    number = number + 1
else:
    print('No longer < 5')

In [52]:
# If you change the position of the loop structure
number = 0 

while number < 5: 
    number = number + 1 
    if number == 3:
        continue
    print(number)
else:
    print('No longer < 5')

1
2
4
5
No longer < 5

# Functions in Python
- A function is a block of code that will only run when you call it.

In [53]:
def first_function():
    print('We did it!')

In [54]:
first_function()

We did it!

In [55]:
# Arguments
def number_squared(number): # Arguments are passed in the parentheses. You can name your arguments x or y or make it more descriptive like the number example
    print(number**2) # This is the body of code that would be executed. It would execute the number race to the power of 2

In [56]:
number_squared(5)

25

In [59]:
# Multiple Arguments
# You can call as multiple arguments as you want in a function you just have to seperate them by commas
def number_squared_cust(number, power): 
    print(number**power)

# This would make it easier to specify the number and the power and not just default it as 2
# If you pass in 2 arguments when you define your function, you also have to pass 2 arguments when calling the function

In [58]:
number_squared_cust(5, 3)

125

In [65]:
#Arbitrary arguments
# If you don't know how many arguments you want to pass through, an arbitrary argument would help specify that later when you are calling the argument, so you don't have to do it upfront and know the information
args_tuple = (5, 6, 1, 2, 8)
def number_args(*number):
    print(number[2]*number[3])
    # print(number[1]*number[4])

# Using this method, you are calling the position of the argument in the tuple and not the number itself.
# You can use a different position
# Functions are structured in tuples so you can create a variable of tuples to be your arbritary argument
# The star is compulsory but the name of the argument can be anything *find *love

In [66]:
number_args(*args_tuple) # The star is also compulsory here

2

In [67]:
# Keyword Arguments
# Keyword arguments give more control of multiple arguments
def number_squared_cust(number, power): 
    print(number**power)

In [68]:
# The keyword arguments helps you control which argument is for which function if you have multiple arguments
number_squared_cust(power = 5, number = 3)

243

In [74]:
# Arbitrary keyword arguments
# This is used when you don't know how many keywords function you want to pass into your argument
# You have to use two stars for this
def number_kwarg(**number): #This is arbitrary argument
    print('My number is: ' + number['integer'] + ' My other number: ' + number['integer2'])

In [75]:
number_kwarg(integer = '2309', integer2 = '349') #This is keyword argument
# The number has to be a string
# + means concatenate

My number is: 2309 My other number: 349

# Converting Data Types and Data Structures in Python
-

In [2]:
num_int = 7

# Check the data type
type(num_int)

int

In [3]:
num_str = '7'

type(num_str)

str

In [4]:
num_str_conv = int(num_str)

In [6]:
num_sum = num_int + num_str_conv

print(num_sum)

14

In [11]:
list_type = [1, 2, 3, 3, 2, 1, 3, 4, 5, 4, 6, 5]

type(list_type)

list

In [9]:
type(tuple(list_type))

tuple

In [13]:
# Converting a list or tuple into a set may change the valuse in it
type(set(list_type))

set

In [17]:
dict_type = {'name': 'Mariam', 'age': 20, 'hair': 'Brown'}

type(dict_type)

dict

In [18]:
dict_type.items()

dict_items([('name', 'Mariam'), ('age', 20), ('hair', 'Brown')])

In [19]:
dict_type.values()

dict_values(['Mariam', 20, 'Brown'])

In [20]:
dict_type.keys()

dict_keys(['name', 'age', 'hair'])

In [22]:
list(dict_type.keys())

['name', 'age', 'hair']

In [27]:
list(dict_type.items())
print(list(dict_type.items()))

[('name', 'Mariam'), ('age', 20), ('hair', 'Brown')]

In [29]:
# When you change a string into a list, it sepearates each character into individual lists.
long_str = 'I like to party'
list(long_str)

['I', ' ', 'l', 'i', 'k', 'e', ' ', 't', 'o', ' ', 'p', 'a', 'r', 't', 'y']

In [32]:
# changing a string into a set would remove duplicates (even for the spaces)

set(long_str)

print(set(long_str))

{'i', 'l', 'p', 'r', 'y', 'I', 't', 'k', ' ', 'o', 'a', 'e'}